<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link href="styles.css" rel="stylesheet">
        <title>Contacts</title>
    </head>
    <body>
        <div class="container">
            <h1 class="well text-center">Enter the new contact's information:</h1>
            <form action="/newContacts" method="post">
                <div class="form-group">
                    <label for="fname">Enter First Name:</label>
                    <input id="fname" name="fname" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lname">Enter Last Name:</label>
                    <input id="lname" name="lname" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Enter Email:</label>
                    <input id="email" name="email" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="phone">Enter Phone Number:</label>
                    <input id="phone" name="phone" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="street">Enter Street Address:</label>
                    <input id="street" name="street" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="city">Enter City:</label>
                    <input id="city" name="city" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="state">Enter State:</label>
                    <input id="state" name="state" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="zip">Enter Zip:</label>
                    <input id="zip" name="zip" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="img">Enter a Picture:</label>
                    <input id="img" name="img" type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-info">Add Contact Info</button>
            </form>
        </div
    </body>
</html>
