<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Contacts</title>
    </head>
    <body>
        <div class="container">
            <h1 class="jumbotron text-center">You have cleared all your contacts!</h1>
            <h4><a href="/">Return Home</a></h4>
        </div>
    </body>
</html>
